/* base */

* {
  box-sizing: border-box;
}

.cus-flex {
  display: flex;
}

.cus-flex-jus-space {
  justify-content: space-between;
}

.cus-color {
  color: #272a31;
}

.cus-bg-color {
  background-color: #d3d3d3;
}

/* header */

.cus-big-bg-image {
  height: 250px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../images/bg-one.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

/* main */

.cus-intro-form {
  width: 400px;
}

.cus-big-bg-inner {
  padding: 50px 40px;
}

/* footer */
