/* base */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  color: #272a31;
  line-height: 1.2em;
}

header {
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
}

h1 {
  font-family: 'Poller One', cursive;
  font-size: 2.5em;
  line-height: 1.3em;
}

h2 {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
}

a:hover {
  text-decoration: none;
  color: #ec5242;
}

.cus-flex {
  display: flex;
}

.cus-flex-jus-space {
  justify-content: space-between;
}

.cus-flex-wrap {
  flex-wrap: wrap;
}

.cus-flex-jus-center {
  justify-content: center;
}

.cus-flex-align-center {
  align-items: center;
}

.cus-flex-dr-column {
  flex-direction: column;
}

.cus-second-color {
  color: #d3d3d3;
}

.cus-color-red {
  color: #ec5242;
}

.cus-bg-color {
  background-color: #272a31;
}

.cus-float-left {
  float: left;
}

.cus-other-pages-bg-color {
  background-color: #272a31;
}

.cus-other-pages-color {
  color: #d3d3d3;
}

.cus-display-in-block {
  display: inline-block;
}

/* header */

.cus-header-logo img {
  width: 7em;
}

.cus-main-nav ul li,
.cus-main-nav i {
  font-size: 1.2em;
}

/* main */

.cus-big-bg-image {
  height: 400px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../images/bg-one.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.cus-big-bg-image input {
  font-size: 0.8em;
  font-style: italic;
}

.cus-intro-form {
  width: 400px;
}

.cus-big-bg-inner {
  padding: 90px 40px;
}

.cus-form-bg-color {
  background-color: rgb(211, 211, 211, 0.8);
}

.cus-course-bg-img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.cus-speaker-img-1 {
  background: url("../images/speaker-1.jpg");
}

.cus-speaker-img-2 {
  background: url("../images/speaker-2.jpg");
}

.cus-speaker-img-3 {
  background: url("../images/speaker-3.jpg");
}

.cus-speaker-img-4 {
  background: url("../images/speaker-4.jpg");
}

.cus-speakers-bg-img {
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cus-speakers p {
  font-size: 0.9em;
}

.cus-about-intro-bg {
  background: linear-gradient(to top, rgba(255, 255, 0, 0), rgba(255, 255, 0, 1)), url("../images/about-bg.jpg");
  background-position: center;
  background-size: cover;
}

.cus-about-intro-inner {
  background-color: #fff;
}

.cus-about-contact p {
  border-bottom: 2px solid #ec5242;
}

.cus-tickets-reserve p {
  border: 1px solid #c4c4c4;
  border-radius: 1em;
}

/* footer */

.cus-flexed-partners i {
  font-size: 3em;
}

.cus-cred-list ul li {
  line-height: 1.3em;
}

.cus-footer-logo img {
  width: 9em;
}
