main {
  max-width: 1350px;
}

.display-md-show {
  display: block;
}

.cus-grid {
  display: grid;
}

.cus-grid-cols-2 {
  grid-template-columns: repeat(2, 2fr);
}

.cus-flex-md {
  display: flex;
}

.cus-flex-jus-end {
  justify-content: flex-end;
}

.cus-flex-dr-md-row {
  flex-direction: row;
}

.cus-flex-jus-md-center {
  justify-content: center;
}

.cus-flex-md-space {
  justify-content: space-between;
}

.cus-flex-md-space-even {
  justify-content: space-evenly;
}

.cus-courses-art article {
  width: 230px;
  margin: 1em 0.8em;
}

.cus-courses-art img {
  height: 150px;
}

.cus-flexed-partners i {
  font-size: 5em;
}

.cus-about-intro-inner {
  width: 80%;
  margin: auto;
}
